/* html, body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #E9CBAF;
    height: 100%;
  } */

#body-home {
    min-height:100%;
    background:linear-gradient(0deg, rgba(231, 226, 228, 0.4), rgba(238, 234, 236, 0.4)), url(../images/daniel-alvasd-_RgeLpaIp7k-unsplash.jpg);
    background-size:cover;
    
}

#academic {
    padding-left: 15px;
}

.professional {
    padding-left: 15px;
}

#body-about, #body-resume, #writing-samples {
    background-color: #FBF5EF;
}

  .bs-example{
    margin: 20px;
    background-color: #FBF5EF;
    color: #131112;

}

/* .card-body {
  background:linear-gradient(0deg, rgba(231, 226, 228, 0.4), rgba(238, 234, 236, 0.4)), url(../images/daniel-alvasd-_RgeLpaIp7k-unsplash.jpg);
}

.card-body:hover {
  background:linear-gradient(0deg, rgba(7, 7, 7, 0.3), rgba(5, 5, 5, 0.4));
} */

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  border: 50px, #00AFB5;

}

.containerTab {
  color: white;
  align-content: center;
  margin-top: 15px;
}
.column:hover {
 background-color: #00AFB5;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
  padding-right: 15px;
}

 /* #resume {
  padding-left: 15px;
  padding-right: 15px;
} */

#resume-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}


#container {
	margin: 50px 0 0 0;
	text-align: center;
}

#text {
  display: inline-block;
  margin-top: 150px;
	color: #131112;
    border-right: 3px solid #131112;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#social {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: #131112;
}

#fade-button {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

#fade-button:hover {
    color: #fff;
}

  /* header */

  .header {
    background-color: #131112;
    color: #00AFB5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    /* z-index: 3; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    color: #00AFB5;
    background-color: #131112;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #131112;
    color: #00AFB5;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: #00AFB5;
    background-color: #242022;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #00AFB5;
  }

.bio {
    text-align: center;
    display: inline-block;


}

.bio-design {
    padding-left: 15px;
    text-align: right;
    display: inline-block;


}

.bio-design2 {
    padding-left: 20px;
    text-align: right;
    display: inline-block;


}

.bio-design3 {
    padding-left: 25px;
    text-align: right;
    display: inline-block;


}
 
.bio-p {
    padding-left: 40%;
    padding-right: 30px;

} 

.headshot {
    float:left;
    margin-right:10px;
    padding-left: 20%;

}

#a, #g {
    background-color: #6d6d6d;
    color: #bdc3c7;
    list-style: none;
}

#pic {
    margin: +5% 0 0;
    border: 3px solid black;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  list-style: none;
}
 
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    color: #00AFB5;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
    color: #00AFB5;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  .footer {
      background-color: black;
      color: white;
      height: 200px;;
      width: 100%;
      text-align: center;
      padding: 15px;
  }

  h1 {
    text-align: center;
  }

  .space {
      height: 100px;
  }

  .space-about {
      color: #00AFB5;
      height: 100px;
      width: 100%;
  }

 .contact {
     align-content: center;
 }

  .hero {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .nav-link {
      color: #00AFB5;
      background-color: #131112;
  }

  .nav-link:hover {
    color: #00AFB5;
  }

  .nav-link:active {
    color: #00AFB5;
    background-color: #131112;
  }
